.App {
  font-family: "Redressed", cursive;
  margin: 0 auto;
  text-align: center;
}

.WeatherApp {
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  background-size: cover;
  max-width: 550px;
  margin: 100px auto;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
}
li {
  list-style: none;
  text-align: left;
  margin-left: -30px;
  margin-top: -10px;
  line-height: 30px;
}

.Weatherwrapper {
  max-width: 550px;
  margin: 100px auto;
}
.footer {
  color: red;
  text-align: left;
  margin-left: 10px;
  margin-top: 500px;
  font-size: 18px;
}
