.inputcity {
  padding: 5px 10px;
  width: 280px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10px;
}

.btnprimary {
  padding: 2px 5px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: -5px;
}
.currentbtn {
  font-weight: bolder;
  width: 100px;
  margin-top: -5px;
  border-radius: 10px;
}
img {
  margin-right: 5px;
  margin-top: -5px;
  height: 64px;
  width: 64px;
}

strong {
  color: brown;
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
  margin-left: 20px;
}

.units {
  position: relative;
  font-size: 20px;
  top: -20px;
}

.forecast {
  margin-top: 20px;
}

.tuesimage {
  margin-top: 15px;
}

h6 {
  color: brown;
  font-weight: bolder;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
  color: brown;
  text-align: left;
  margin-left: 10px;
}
